<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         id="WebApp_ID" version="2.5">
    <filter>
        <filter-name>encode</filter-name>
        <filter-class>com.six.ems.web.controller.filter.EncodingFilter</filter-class>
        <init-param>
            <param-name>encode</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>accessFilter</filter-name>
        <filter-class>com.six.ems.web.controller.filter.AccessFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>encode</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>accessFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <listener>
        <listener-class>com.six.ems.web.TomcatListener</listener-class>
    </listener>

    <display-name>emsProject</display-name>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>LoginServlet</display-name>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.user.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>StudentServlet</display-name>
        <servlet-name>StudentServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.user.StudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentServlet</servlet-name>
        <url-pattern>/studentServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>TeacherServlet</display-name>
        <servlet-name>TeacherServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.user.TeacherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TeacherServlet</servlet-name>
        <url-pattern>/teacherServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>PaperServlet</display-name>
        <servlet-name>PaperServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.paper.PaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PaperServlet</servlet-name>
        <url-pattern>/paper.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ChoiceServlets</display-name>
        <servlet-name>ChoiceServlets</servlet-name>
        <servlet-class>com.six.ems.web.controller.questions.choice.ChoiceServlets</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ChoiceServlets</servlet-name>
        <url-pattern>/choices.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>examServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.exam.ExamServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.admin.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>roleServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.admin.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>examServlet</servlet-name>
        <url-pattern>/exam.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminServlet</servlet-name>
        <url-pattern>/admin.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>roleServlet</servlet-name>
        <url-pattern>/role.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CourseServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.course.CourseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseServlet</servlet-name>
        <url-pattern>/courseServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>ScoreServlet</display-name>
        <servlet-name>ScoreServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.score.ScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScoreServlet</servlet-name>
        <url-pattern>/scoreServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>PersonScoreServlet</display-name>
        <servlet-name>PersonScoreServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.score.PersonScoreServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonScoreServlet</servlet-name>
        <url-pattern>/personScoreServlet.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>StartExam</display-name>
        <servlet-name>StartExam</servlet-name>
        <servlet-class>com.six.ems.web.controller.test.StartExam</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartExam</servlet-name>
        <url-pattern>/startExam.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>BlankServlet</display-name>
        <servlet-name>BlankServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.questions.blank.BlankServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BlankServlet</servlet-name>
        <url-pattern>/blank.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>JudgeServlet</display-name>
        <servlet-name>JudgeServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.questions.judge.JudgeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>JudgeServlet</servlet-name>
        <url-pattern>/judge.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>SubjectiveServlet</display-name>
        <servlet-name>SubjectiveServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.questions.subjective.SubjectiveServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>readPaperServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.paper.ReadPaperServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubjectiveServlet</servlet-name>
        <url-pattern>/subjective.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>readPaperServlet</servlet-name>
        <url-pattern>/readPaper.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>UserInfoServlet</display-name>
        <servlet-name>UserInfoServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.user.UserInfoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserInfoServlet</servlet-name>
        <url-pattern>/userInfo.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <description></description>
        <display-name>ExamPage</display-name>
        <servlet-name>ExamPage</servlet-name>
        <servlet-class>com.six.ems.web.controller.exam.ExamPage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>studentExamServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.test.StudentExamServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ExamPage</servlet-name>
        <url-pattern>/examPage.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>studentExamServlet</servlet-name>
        <url-pattern>/studentExam.do</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ValidateCode</servlet-name>
        <servlet-class>com.six.ems.web.controller.user.ValidateCode</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>classesServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.classes.ClassesServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>practiceServlet</servlet-name>
        <servlet-class>com.six.ems.web.controller.practice.practiceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateCode</servlet-name>
        <url-pattern>/validate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>classesServlet</servlet-name>
        <url-pattern>/class.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>practiceServlet</servlet-name>
        <url-pattern>/practice.do</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>UpAndDownFileServlet</servlet-name>
		<servlet-class>com.six.ems.web.controller.fileup.UpAndDownFileServlet</servlet-class>
	</servlet>
	 <servlet-mapping>
	 	<servlet-name>UpAndDownFileServlet</servlet-name>
	 	<url-pattern>/uploadFile.do</url-pattern>
	 </servlet-mapping>
	 <servlet>
	 	<servlet-name>ScoreReportServlet</servlet-name>
	 	<servlet-class>com.six.ems.web.controller.score.ScoreReportServlet</servlet-class>
	 </servlet>
	 <servlet-mapping>
	 	<servlet-name>ScoreReportServlet</servlet-name>
	 	<url-pattern>/scoreReport.do</url-pattern>
	 </servlet-mapping>
</web-app>